
*.toc
*.zip
LOSTARK.ico
queueDetectionScreenshot.png
Lost Ark Anti AFK.bat
build/Lost Ark Anti AFK Bot-patched/xref-Lost Ark Anti AFK Bot-patched.html
build/Lost Ark Anti AFK Bot-patched/warn-Lost Ark Anti AFK Bot-patched.txt
*.pyz
*.pkg
build/Lost Ark Anti AFK Bot-patched/Lost Ark Anti AFK Bot-patched.exe.manifest
